html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    padding: 20px
}

div.headercontainer {
    width: 100%;
    height:100%;
}

    div.headercontainer div {
        width: 50%;
        float: left;
        border: solid 2px;
        background-color: lightcyan;
        padding: 10px;
    }

div.questioncontainer {
    background-color: lightblue;
    padding: 10px;
    border: solid 2px;
}

div.answerscontainer {
    background-color: lightblue;
    padding: 10px;
    border: solid 2px;
}