html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: slategrey;
}

nav{
    height: 35px;
    background-color:darkslategrey;
}

ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    padding: 10px;
    width: 810px;
    margin: auto;
}

div.headercontainer {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: 10px;
}

    div.headercontainer div {
        width: 50%;
        float: left;
        padding: 10px;
    }

div.questioncontainer {
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

div.answerscontainer {
    padding: 10px;
    align-self: center;
    text-align: center;
}

.TriviaButton {
    background-color: transparent;
    color: black;
    margin-bottom: 5px;
    border: solid 2px darkslategrey;
    border-radius: 5px;
    align-content: center;
    transition-duration: 0.4s;
    cursor: pointer;
}

    .TriviaButton:hover {
        background-color: darkslategrey;
        color: lightgray;
    }

.menubutton {
    height: 75px;
    width: 150px;
}

.answerbutton {
    height: 200px;
    width: 400px;
}