@model string

<h2>Error: @Model</h2>
<div style="height:200px;width:100%;margin-bottom:20px">
	<a asp-controller="Trivia" asp-action="Index" class="btn btn-primary align-content-center" style="height:200px;width:100%;">Go Back to Trivia</a>
</div>