@using System.Web;

@model TriviaQuestion
<body>
	<div style="text-align:center;height:10vh;margin-bottom:15px">
		<div style="margin-bottom:2px">
			<h2 style="text-align:center">@Model.category</h2>
		</div>
		<div style ="margin-bottom:2px>
			<h3 style="text-align:center">@Model.difficulty</h3>
		</div>
	</div>

	<div class="questioncontainer" style="height:15vh;">
		<h1 style="text-align:center;font-size:2em">@HttpUtility.HtmlDecode(Model.question)</h1>
	</div>

	<div class="answerscontainer" style="height:60vh;">
		<ul>
			@foreach (var answer in Model.answers)
			{
				<div>
					<a asp-controller="Trivia" asp-action="CheckAnswer" asp-route-answer=@answer class="btn TriviaButton answerbutton">@HttpUtility.HtmlDecode(answer)</a>
				</div>
			}
		</ul>
	</div>
</body>

