@model Question

<div class="headercontainer" style="height:10vh;">
	<div style="height:100%">
		<h2 style="text-align:center">@Model.category</h2>
	</div>
	<div style="height:100%">
		<h2 style="text-align:center">@Model.difficulty</h2>
	</div>
</div>

<div class="questioncontainer" style="height:15vh;">
	<h1 style="text-align:center">@Model.question</h1>
</div>

<div class="answerscontainer" style="height:60vh;">
	<ul>
		@foreach (var answer in Model.answers)
		{
			<div style="height:200px;width:100%;margin-bottom:20px">
				<a asp-controller="Trivia" asp-action="CheckAnswer" asp-route-answer=@answer class="btn btn-primary align-content-center" style="height:200px;width:100%;">@answer</a>
			</div>
		}
	</ul>
</div>
