@model APIResponse

<div class="headercontainer" style="height:10vh;">
	<div style="height:100%">
		
	</div>
	<div style="height:100%">
		
	</div>
</div>

<div class="questioncontainer" style="height:15vh;">
	<h1 style="text-align:center">Congratulations!</h1>
	<h3 style="text-align:center">@Model.QuestionsCorrect / @Model.QuestionAmount correct</h3>
</div>

<div class="answerscontainer" style="height:60vh;">
	<div style="height:200px;width:100%;margin-bottom:20px">
		<a asp-controller="Trivia" asp-action="Index" class="btn btn-primary align-content-center" style="height:200px;width:100%;">Back to menu</a>
	</div>
</div>